/* Act-Knowledge "Stylesheet" 
Laatste update: 2014-02-20 */

/*-------------[BASIC STYLE]-------------*/

* {
	margin: 0;
	padding:0;
}

body{
	background-color: #ebebeb;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}

/*-------------[FONT-STYLES]-------------*/

h1 {}
h2 {}
h3 {}
h4 {}

p {}
b {}
a {text-decoration: none; color: black;}
a:hover {color: red;}

/*-------------[TOP-MENU]-------------*/


.top-fixed {
	width: 100%;
	height: 56px;
	background-color: rgba(200,200,200,.8);
	border-bottom: solid 2px rgba(21,24,26,0.1);
	position: fixed;
	z-index: 40;
	top: 0;
}

.top-fixed img {
	height: 58px;
}

nav.menu {
	width: 75%;
	margin: auto;
	clear: both;
}

.top-left {
	width: 60%;
	height: 60px;
	float: left;
}

.menu-icon {
	position: relative;
	left: 10px;
	top: 0;
	height: 40px;
	width: 40px;
}

.menu-icon img {
	position: absolute;
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	-o-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;
}

.bottom:hover{
	opacity: 0;
	cursor: pointer;
}

.top-right {
	width: 40%;
	height: 60px;
	float: right;
}

.optie-icon {
	float: right;
	position: relative;
	height: 60px;
	width: 60px;
}

.optie-icon img {
	position: absolute;
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	-o-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;
}

.after:hover{
	opacity: 0;
	cursor: pointer;
}

/*-------------[WRAPPER]-------------*/

.wrapper {
	width: 75%;
	height: 800px;
	margin: auto;
}

/*-------------[CONTENT]-------------*/

section.content {
	padding-top: 30px;
	height: auto;
}

.content img {
}

section.col1 {
	float: left;
	height: auto;
	clear: both;
	width: 30%;
	margin-right: 4%;
	border: 2px solid black;
}

section.col2 {
	float: left;
	height: auto;
	width: 30%;
	margin-right: 4%;
	border: 2px solid black;
}

section.col3 {
	float: left;
	height: auto;
	width: 30%;
	border: 2px solid black;
}


/*-------------[UPLOADS]-------------*/

#main {
	padding-top: 240px;

}

.uploads {
	height: 160px;
	z-index: 20;
}

.image {
	padding: 20px;
	margin-left: 20%;
}

section.load1 {
	margin-left: 20%;
	float: left;
	height: auto;
	clear: both;
	width: 20%;
	border: 2px solid black;
}

section.load2 {
	float: left;
	height: auto;
	width: 20%;
	border: 2px solid black;
}

section.load3 {
	float: left;
	height: auto;
	width: 20%;
	border: 2px solid black;
}

nav.add {
	list-style: none;
	margin: auto;
	width: 65%;
	padding-left: 80px;
}

nav.add li {
	display: inline;
	margin-right: 90px;
}

nav.ul {
	margin-left: 20%;
}

nav.add li img {
	margin: 0;
	width: 30px;
	height: auto;
	vertical-align: middle;
}

/*-------------[FOOTER]-------------*/
			
footer {
	background-color: orange;
}