/* Act-Knowledge "Stylesheet" 
Laatste update: 2014-02-18 */

* {
	margin: 0;
	padding:0;
}

body{
	background-color: #ebebeb;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}

.top-fixed {
	width: 100%;
	height: 60px;
	background-color: rgba(21,24,26,0.1);
	border-bottom: solid 2px;
	position: fixed;
	top: 0;
}

nav.menu {
	width: 75%;
	margin: auto;
}

.top-left {
	background-color: green;
	width: 60%;
	height: 60px;
	float: left;
}

.top-right {
	background-color: blue;
	width: 40%;
	height: 60px;
	float: left;
}

.wrapper {
	width: 75%;
	height: 800px;
	margin: auto;
	background-color: red;
	margin-top: 100px;
}

section.content {
	background-color: green;
	height: auto;
}

section.col1 {
	float: left;
	height: 20px;
	clear: both;
	width: 30%;
	margin-right: 50px;
}

section.col2 {
	float: left;
	height: 20px;
	width: 30%;
	margin-right: 50px;
}

section.col3 {
	float: left;
	height: 20px;
	width: 30%;
}
			
footer {
	background-color: orange;
}